* {
  font-family: 'Helvetica', sans-serif;
}

body {
  font-size: 14px;
  margin: 10px;
  width: 95%;
}

a {
  color: #000;
  text-decoration: none;
  padding: 3px;
}

a:hover {
  color: #fff;
  background: #000;
  padding: 3px;
  text-decoration: none;
}

.centered {
  text-align: center;
}

.main {
  width: 500px;
}

#tasks {
  width: 100%;
  border-collapse: collapse;
}

#tasks tr {
  border: 1px solid #999;
}

#tasks td {
  padding: 7px;
  max-width: 300px;
  word-wrap: break-word;
}

#tasks th {
  padding: 7px;
}
